.HotelCard{
    display:flex;
    flex-direction: column;
    height:fit-content;
    width:fit-content;
    overflow: auto;
  
}
.HotelCard:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}
.HotelInfo{
    padding:3px;
    text-align: center;
}
.HotelCard img{
    border-radius: 15%;
}