*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction: column;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}